.content{
    padding-top:4rem;
   margin-right:1rem ;
    margin-left: 2rem;
}

.title{
    font-size: 1.8rem;
}

*{
    font-family: sans-serif;
}

.description{ 
    width: 90%;
    line-height: 1.3;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 0.8rem;
    overflow:hidden;
   max-width: 350px;
}
.button{
    cursor: pointer;
    color:#fff;
    outline: none;
    border: none;
    font-weight:700 ;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right:1rem;
    padding-top: 0.5rem;
    background-color:rgba(51 , 51, 51, 0.5);
   
}

.button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.faded_btn{
    height: 7.4rem;
    background-image: linear-gradient(180deg , transparent ,  rgba(37 ,37,37,0.61) , #111);
}

 @media screen and (max-width :606px ){
  
    .header{
        background-image: url("https://image.tmdb.org/t/p/original/${movie?.backdrop_path}");
         background-size: 100%;
         background-position: cover cover;
    }
   .title{
       font-size: 1rem;
       padding-bottom: 0.1rem;
   }

   .description{
   font-size: 0.8rem;
}

    .content{
    margin-left: 1rem;
    padding-top: 2.5rem;
    }

    .faded_btn{
        height: 5rem;
    }       
} 


